body{
  background: #FFEBEA;
  margin: 0px;
  padding: 0px;
}

h1{
  font-family: "dacing Script", cursive;
  font-size: 450%;
  margin: 0px 40%;
  color: white
}

h2{
  margin: 5px 42%;
  font-size: 300%;
  font-family: "dacing Script", cursive;
}

.cabecalho{
  padding: 20px;
  background: #E89C9A;
}

.lacos{
  
}

hr{
  margin:  0px;
  border-color: white;
}

#img1{
  margin: 2px 6px;
  width: 48%;
  height: 400px;
}

#img2{
  margin: 2px 2px;
  width: 49%;
  height: 400px;
}

#img3{
  margin: 0px 5px;
  width: 32%;
  height: 300px;
}

#img4{
  margin: 0px 3px;
  width: 32%;
  height: 300px;
}

#img5{
  margin: 0px 2px;
  width: 32%;
  height: 300px;
}

#img6{
  margin: 2px 6px;
  width: 48%;
  height: 400px;
}

#img7{
  margin: 2px 2px;
  width: 49%;
  height: 400px;
}

#img8{
  margin: 0px 6px;
  width: 32%;
  height: 300px;
}

#img9{
  margin: 0px 2px;
  width: 32%;
  height: 300px;
}

#img10{
  margin: 0px 2px;
  width: 32%;
  height: 300px;
}

.rodape{
  margin: 0px 0px;
  height: 55px;
  background:  #E89C9A 
}

#numero{
  margin: 50px;
}

a{
  color: black;
  font-size: 150%;
  text-decoration: none;
  margin: 20px;
}


